<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jqyzyh.learn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".PathPaintActivity" />
        <activity android:name=".WheelViewActivity" />
        <activity android:name=".InputFilterActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListAnimHeaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaySoundActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".LoveActivity"></activity>
    </application>

</manifest>